#logo {
    display: block;
    margin: auto;
    // margin-bottom: 45px;
}

.login-btn {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    display: block;
}

// @media only screen and (min-width: 1200px) {
//     .content:not(.content--boxed):not(.content--full) {
//         padding: 100px !important;
//     }
// }
.card-content {
    padding: 20px;
}

.button-container {
    button {
        width: 185px;
        display: inline-block;
    }
}

@media (max-width: 575.98px) {
    .button-container {
        button {
            width: 100%;
        }
    }
}