.fc-title,
.fc-time {
    color: #fff;
}

.kanban-board {
    // padding: 15px;
    overflow: auto;
    // width: 120%;
}

.kanban-scroll {
    width: 2000px;
    height: 100vh;
}

.card-container {
    display: inline-block;
    float: left;
}

.kanban-btn {
    text-align: center;
    margin: auto;
    display: block;
}

.user__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0.8rem;
}

.kanban-card {
    padding: 1.25rem;
    height: 13rem;
}

.user__img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 0.8rem 0 !important;
}

.kanban-text {
    margin: 0.8rem;
}

.watcher-list {
    margin: 5px;
}

.user__name {
    margin: 10px;
    // color: $headings-color;
    // font-weight: $font-weight-bold;
}

.kanban-post-card {
    height: 15rem;
}