<div class="kanban-board">
    <div class="kanban-scroll" [style.width.px]="kanbanBoard.length*330">
        <div class="card card-container" style="width:300px;margin:0 10px;" *ngFor="let board of kanbanBoard ">

            <div class="card-body" [dragula]="'board'">
                <h4 [attr.id]="board.id" class="card-title">{{board.name}}</h4>
                <div class="actions">
                    <div dropdown>
                        <!-- <i dropdownToggle class="actions__item zmdi zmdi-more-vert"></i> -->
                        <i dropdownToggle class="actions__item zmdi zmdi-plus-circle"></i>

                        <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item">Add a post</a>
                            <a class="dropdown-item">Manage Widgets</a>
                            <!-- <a class="dropdown-item">Settings</a> -->
                        </div>
                    </div>
                </div>
                <div class="card" [attr.id]="item.id" *ngFor="let item of board.data">
                    <span style="display:none;">{{item.id}}</span>

                    <div class="card-body">
                        <h4 class="card-title">{{item.title}}</h4>
                        <h6 class="card-subtitle">{{item.description}}</h6>

                        <div class="actions">
                            <div dropdown>
                                <i dropdownToggle class="actions__item zmdi zmdi-more-vert"></i>
                                <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item">Edit</a>
                                    <a class="dropdown-item">Delete</a>
                                </div>
                            </div>
                        </div>

                        <p class="card-text">{{item.description}}</p>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>