<header class="header">
    <navigation-trigger></navigation-trigger>

    <div class="header__logo">
        <h1><a [routerLink]="['']">Calendarly</a></h1>
    </div>

    <header-search #search class="toggled" [class.toggled]="search.searchActive"></header-search>

    <ul class="top-nav">
        <li class="d-xl-none"><a (click)="search.searchActive = true"><i class="zmdi zmdi-search"></i></a></li>

        <li dropdown>
            <a dropdownToggle><i class="zmdi zmdi-email"></i></a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
                <div class="listview listview--hover">
                    <div class="listview__header">
                        Messages

                        <div class="actions">
                            <a href="messages.html" class="actions__item zmdi zmdi-plus"></a>
                        </div>
                    </div>

                    <a *ngFor="let message of messagesData" href="" class="listview__item">
                        <img [src]="message.image" class="listview__img" alt="">

                        <div class="listview__content">
                            <h3 class="listview__heading">
                                {{ message.name }}
                                <small>{{ message.date }}</small>
                            </h3>
                            <p>{{ message.message }}</p>
                        </div>
                    </a>

                    <a href="" class="view-more">See All Messages</a>
                </div>
            </div>
        </li>

        <li dropdown>
            <!-- <a dropdownToggle class="top-nav__notify"><i class="zmdi zmdi-notifications"></i></a> -->
            <a dropdownToggle><i class="zmdi zmdi-collection-plus"></i></a>

            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
                <div class="row app-shortcuts">
                    <a class="col-4 app-shortcuts__item" (click)="createPost.show()">
                        <i class="zmdi zmdi-calendar bg-red"></i>
                        <small class="">Add Post</small>
                    </a>
                    <a class="col-4 app-shortcuts__item" (click)="createTopic.show()">
                        <i class="zmdi zmdi-file-text bg-blue"></i>
                        <small class="">Add Topic</small>
                    </a>
                    <a class="col-4 app-shortcuts__item" (click)="addUserModal.show()">
                        <i class="zmdi zmdi-plus-circle bg-blue"></i>
                        <small class="">Add Member</small>
                    </a>

                </div>
            </div>
        </li>

        <li dropdown class="d-none d-sm-inline-block">
            <a dropdownToggle=""><i class="zmdi zmdi-check-circle"></i></a>

            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
                <div class="listview listview--hover">
                    <div class="listview__header">Tasks</div>

                    <a *ngFor="let task of tasksData" class="listview__item">
                        <div class="listview__content">
                            <div class="listview__heading mb-2">{{ task.name }}</div>

                            <div class="progress">
                                <div [ngClass]="['progress-bar bg-'+ task.color]" [ngStyle]="{ 'width': task.completed+'%' }" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </a>

                    <a href="" class="view-more">View All Tasks</a>
                </div>
            </div>
        </li>

        <li dropdown class="d-none d-sm-inline-block">
            <a dropdownToggle=""><i class="zmdi zmdi-more-vert"></i></a>

            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu--icon" role="menu">
                <div class="dropdown-item theme-switch">
                    Theme Switch

                    <div class="btn-group btn-group--colors mt-2 d-block">
                        <label class="btn bg-green" [(ngModel)]="maThemeModel" btnRadio="green" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-blue" [(ngModel)]="maThemeModel" btnRadio="blue" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-red" [(ngModel)]="maThemeModel" btnRadio="red" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-orange" [(ngModel)]="maThemeModel" btnRadio="orange" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-teal" [(ngModel)]="maThemeModel" btnRadio="teal" uncheckable (click)="setTheme()"></label>

                        <br>

                        <label class="btn bg-cyan" [(ngModel)]="maThemeModel" btnRadio="cyan" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-blue-grey" [(ngModel)]="maThemeModel" btnRadio="blue-grey" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-purple" [(ngModel)]="maThemeModel" btnRadio="purple" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-indigo" [(ngModel)]="maThemeModel" btnRadio="indigo" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-lime" [(ngModel)]="maThemeModel" btnRadio="lime" uncheckabl (click)="setTheme()" e></label>
                    </div>
                </div>
                <a href="" class="dropdown-item">Fullscreen</a>
                <a href="" class="dropdown-item">Clear Local Storage</a>
            </div>
        </li>
    </ul>

</header>

<div bsModal #addUserModal="bs-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">Add a member</h5>
            </div>
            <div class="modal-body">
                <app-add-user [roles]="roles"></app-add-user>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="width: 100%;" (click)="addMember()">Send Invitation </button>
            </div>
        </div>
    </div>
</div>

<div bsModal #createTopic="bs-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">Create a Topic</h5>
            </div>
            <div class="modal-body">
                <app-create-topic (exit)="exit()"></app-create-topic>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div bsModal #createPost="bs-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">Create a Post</h5>
            </div>
            <div class="modal-body">
                <app-create-post [status]="status" (formSubmitted)="submitForm($event)" (exit)="exit()" [date]="date" [time]="date"></app-create-post>
                <!-- Curabitur blandit mollis lacus. Nulla sit amet est. Suspendisse nisl elit, rhoncus eget, elementum ac, condimentum eget, diam. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Cras sagittis. -->
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-link">Save changes</button>
                <button type="button" class="btn btn-link" (click)="ModalLarge.hide()">Close</button> -->
            </div>
        </div>
    </div>
</div>