<form [formGroup]="createTopic" (ngSubmit)="submitForm()">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" [ngClass]="{'is-invalid':createTopic.get('title').invalid,'is-valid':createTopic.get('title').valid}">
                <label for="disabledTextInput">Title</label>
                <input formControlName="title" type="text" class="form-control form-control-sm">
                <i class="form-group__bar"></i>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="tags">Tags</label>
                <input formControlName="tags" id="tagsinput" value="Tag-A,Tag-B" data-role="tagsinput" type="text" class="form-control tagsinput form-control-sm">
                <i class="form-group__bar"></i>
            </div>
        </div>

    </div>
</form>
<!-- <div class="row">
    <div class="col-md-12">
        <color-picker [(ngModel)]="color" [availableColors]="availableColors">
        </color-picker>
    </div>
</div> -->
<div class="row">
    <div class="col-md-12" id="html-editor">
        <div class="html-editor"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- <button type="button" class="btn btn-danger waves-effect waves-button pull-right submit-btn waves-float" (click)="cancel()" data-dismiss="modal">Close</button> -->
        <!-- <button type="button" (click)="goback()" class="btn btn-danger waves-effect waves-button pull-right submit-btn waves-float" *ngIf="editMode" (click)="cancel()">Cancel</button> -->
        <button type="button" (click)="submitForm()" class="btn btn-primary waves-effect waves-button waves-float pull-right submit-btn" id="addEvent">Save</button>
        <!-- <button type="button" (click)="updatePost()" class="btn btn-primary waves-effect waves-button waves-float pull-right submit-btn" id="addEvent" *ngIf="editMode">Update</button> -->

        <div class="clearfix"></div>
    </div>
</div>