<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- <div class="card-header">

            </div> -->
            <div class="card-body" *ngIf="user">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card--inverse widget-profile">
                            <div class="card-body">
                                <div class="text-center">
                                    <img [src]="user.big_photo" class="widget-profile__img" alt="">

                                    <h4 class="card-title">Malinda Hollway</h4>
                                </div>

                                <div class="actions actions--inverse">
                                    <div dropdown class="actions__item">
                                        <i dropdownToggle class="zmdi zmdi-more-vert"></i>
                                        <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                                            <!-- <a [routerLink]="['/widgets']" class="dropdown-item">Refresh</a>
                                                    <a [routerLink]="['/widgets']" class="dropdown-item">Manage Widgets</a>
                                                    <a [routerLink]="['/widgets']" class="dropdown-item">Settings</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="widget-profile__list">
                                <div class="col-md-12">
                                    <h3>Contact</h3>
                                    <div class="row">
                                        <div class="col-sm-4" data-name="assignment-alert" data-code="f107"><span class="icon-span"><i class="zmdi zmdi-assignment-alert zmdi-hc-fw"></i> <span>assignment-alert</span></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8"></div>
                </div>

            </div>
        </div>
    </div>
</div>