<div class="row">
    <div class="col-md-4">
        <div class="card" *ngIf="post">

            <div class="card-body">
                <div class="form-group form-group--select">
                    <label>Status</label>
                    <div class="select">
                        <select class="form-control">
                        <option>{{post.status_extra_info.name}}</option>
                        <!-- <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option> -->
                      </select>
                    </div>
                </div>

                <div class="form-group form-group--select">
                    <label>Assigned To</label>
                    <div class="select">
                        <select class="form-control">
                        <option>{{post.assigned_to_extra_info.full_name_display}}</option>
                      </select>
                    </div>
                </div>

                <div class="widget-signups__list">
                    <a>
                        <img class="avatar-img" [src]="images.profileImage" src-fallback="{{images.fallbackImg}}" alt="">
                    </a>
                </div>
                <div class="widget-signups__list">
                    <button class="btn btn-primary watchBtn" (click)="watchPost()" *ngIf="!post.is_watcher">Watch</button>
                    <button class="btn btn-primary watchBtn" (click)="watchPost()" *ngIf="post.is_watcher">Unwatch</button>

                </div>

            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card" *ngIf="post">
            <div class="card-header">
                <ul class="nav nav-pills nav-fill" style="float:left;">
                    <li class="nav-item">
                        <a class="nav-link active">Post</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active" href="#">Topic</a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Longer nav link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li> -->

                </ul>
                <button (click)="deletePost(post)" class="btn btn-light pull-right btn--icon" style="float:right;"><i class="zmdi zmdi-delete"></i></button>
                <div class="clearfix"></div>

            </div>
            <div class="card-body">
                <app-create-post [postData]="post" [date]="date" [time]="time" (formUpdated)="updateForm($event)"></app-create-post>
            </div>
        </div>
    </div>
</div>