<div class="row">
    <div class="col-md-4">
        <div class="card" *ngIf="post">

            <div class="card-body">
                <div class="form-group form-group--select">
                    <label>Status</label>
                    <div class="select">
                        <select class="form-control">
                        <option>{{post.status_extra_info.name}}</option>
                      </select>
                    </div>
                </div>

                <div class="form-group form-group--select">
                    <label>Assigned To</label>
                    <div class="select">
                        <select class="form-control">
                        <option>{{post.assigned_to_extra_info.full_name_display}}</option>
                      </select>
                    </div>
                </div>

                <div class="widget-signups__list">
                    <a *ngFor="let watcher of watchers">
                        <img class="avatar-img" [src]="watcher.photo" src-fallback="{{images.fallbackImg}}" alt="">
                    </a>

                </div>
                <div class="widget-signups__list">
                    <div class="row">
                        <div class="col-md-8 col-sm-8"></div>
                        <div class="col-md-12 col-sm-4 col-lg-12">
                            <button class="btn btn-primary watchBtn" (click)="watchPost()" *ngIf="!post.is_watcher">Watch</button>
                            <button class="btn btn-primary watchBtn" (click)="watchPost()" *ngIf="post.is_watcher">Unwatch</button>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card" *ngIf="post">
            <div class="card-header">
                <ul class="nav nav-pills nav-fill" style="float:left;">
                    <li class="nav-item">
                        <a class="nav-link active">Post</a>
                    </li>
                </ul>
                <button (click)="deletePost(post)" class="btn btn-light pull-right btn--icon" style="float:right;"><i class="fa fa-trash"></i></button>
                <div class="clearfix"></div>

            </div>
            <div class="card-body">
                <app-create-post [postData]="post" [date]="date" [time]="time" (formUpdated)="updateForm($event)"></app-create-post>
            </div>
        </div>

        <post-comments [user]="user" (editCommentEvent)="editComment($event)" (deleteComment)="deleteComment($event)" (postComment)="postComment($event)" [comments]="comments"></post-comments>

    </div>
</div>