<div class="card card-container" style="width:300px;margin:0 10px;" *ngFor="let board of statuses ">

    <div class="card-body " [dragula]="'board'">
        <h4 [attr.id]="board.id" class="card-title">{{board.name}}</h4>
        <div class="actions">
            <div dropdown>
                <i dropdownToggle class="actions__item zmdi zmdi-plus-circle"></i>

                <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" (click)="addPost(board.id)">Add a post</a>
                    <a class="dropdown-item">Manage Widgets</a>
                </div>
            </div>
        </div>
        <div class="card kanban-post-card" [attr.id]="item.id" *ngFor="let item of board.data">
            <span style="display:none;">{{item.id}}</span>

            <div class="card-body kanban-card" [ngClass]="{'user-owner':item.assignedTo===18}">
                <div class="user">
                    <div class="user__info" dropdownToggle>
                        <img class="user__img" src-fallback="{{fallbackImg}}" [src]="item.assigned_to_extra_info.photo" alt="">
                        <div>
                            <div class="user__name">{{item.assigned_to_extra_info.username}}</div>
                        </div>
                    </div>

                </div>

                <!-- <h4 class="card-title">{{item.title}}</h4>
              <h6 class="card-subtitle">{{item.description}}</h6> -->

                <div class="actions">
                    <div dropdown>
                        <i dropdownToggle class="actions__item zmdi zmdi-more-vert"></i>
                        <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" (click)="editPost(item.id)">Edit</a>
                            <a class="dropdown-item" (click)="deletePost(item.id)">Delete</a>
                        </div>
                    </div>
                </div>

                <p class="card-text kanban-text">{{item.title}}</p>
            </div>
            <div class="card-footer" style="padding:10px;">
                <div class="btn-group mr-1 kanban-btn">
                    <button type="button" class="btn btn-light"><span class="fa fa-eye "></span> {{item.watchers.length}}</button>
                    <button type="button" class="btn btn-light"> <span class="fa fa-paperclip "></span> {{item.attachments.length}}</button>
                    <button type="button" class="btn btn-light"> <span class="fa fa-comments "></span> {{item.total_comments}}</button>
                    <!-- <button type="button" class="btn btn-light">3</button> -->
                </div>
                <!-- <span class="watcher-list pull-right" *ngIf="item.watchers.length">
                      
              </span>
              <span class="watcher-list pull-right">
                     
              </span> -->
            </div>
        </div>
    </div>

</div>