.fc-title,
.fc-time {
    color: #fff;
}

.kanban-board {
    // padding: 15px;
    overflow: auto;
    // width: 120%;
}

.kanban-scroll {
    width: 2000px;
    height: 100vh;
}

.card-container {
    display: inline-block;
    float: left;
}